streamlit
extra_streamlit_components
mysql
streamlit-feedback
python-dotenv
streamlit-authenticator
mysql-connector-python
django
djangorestframework
djangorestframework-simplejwt
mysqlclient
django-cors-headers
